body {
    font-family: sans-serif;
    background-color: black;
}

header {
    padding: 15px;
    margin-bottom: 20px;
    display: flex;
    background-color: #4A0000;
    align-items: center;
}

.button {
    background-color: #596597;
    color: black;
    text-decoration: none;
    padding: 15px;
    font-size: 24px;
    border-radius: 10px;
}

nav {
    padding: 25px 100px 25px 95px;
    justify-content: space-between;
    display: flex;
}

.nav-link {
    font-size: 24px;
    color: white;
    text-decoration: none;
    background-color: #5F99A6;
    padding: 9px;
    border-radius: 13px;
    font-family: JejuMyeongjo;
}

h1 {
    text-align: center;
    color: white;
    font-size: 100px;
    margin-top: 43px;
    margin-bottom: 43px;
    font-family: Kaisei Tokumin;
    margin-left: 40px;
}

p {
    font-size: 24px;
}

.info {
    flex-wrap: wrap;
    width: 1100px;
    margin: 0px auto 0px auto;
    display: flex;
    max-width: 1100px;
}

article {
    background-color: white;
    padding: 30px;
    width: 400px;
    margin: 20px;
    flex-wrap: wrap;
}

.article-but {
    text-decoration: none;
    background-color: #4A0000;
    color: white;
    font-size: 24px;
    text-align: center;
    padding: 10px 75px 10px 75px;
    display: block;
}

.nav-link1 {
    font-size: 24px;
    color: white;
    text-decoration: none;
    background-color: #00C9F6;
    padding: 9px;
    border-radius: 13px;
    font-family: JejuMyeongjo;
}

footer{
    background-color: #CC6060;
    padding: 10px;
}

footer p {
    background-color: #FBEDD7;
    padding: 10px;
    font-family: JejuMyeongjo;
    text-align: center;
    font-size: 32px;
}

.nav-link:hover{
    color: bisque;
}

.article-but:hover{
    background-color: #CC6060;
    color: #FBEDD7;
}
